<!DOCTYPE html>
<html ng-app="roomPage">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-107071906-1', 'auto', {'allowLinker': true});
  ga('require', 'linker');
  ga('linker:autoLink', ['bookeo.com']);
  ga('send', 'pageview');

</script>
<title>Portal Escape Rooms - Eugene and Springfileld</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="escape rooms, eugene escape rooms, springfield escape rooms, eugene entertainment, springfield entertainment, escape room in eugene oregon, escape room in springfield oregon, escape games, oregon escape rooms, escape room oregon, escape rooms eugene, escape rooms springfield, escape rooms oregon, eugene escape games, springfield escape games">
<meta name="description" content="Portal Escape Rooms offers an immersive escape room experience. We’re proud to serve as the premier escape room in the Eugene - Springfield area. Book today!      ">
<link rel="canonical" href="http://www.portalescaperooms.net" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://www.portalescaperooms.net",
    "logo": "http://www.portalescaperooms.net/public/final-logo.png"
  }
</script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 96%;
    color: #777;
    line-height: 1.8;
}

footer {
  background-color: #0A5CAD;
  color: #ffffff;
}

button.w3-button {
  background-color: #0A5CAD;
  color: #ffffff;
}

/*Keeps navbar in front of carousel*/
.navBar {
  z-index: 101;
  position: fixed;
}

a.roomButton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  background-color: #777;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 22px;
  width: 10%;
  font-family: "Lato", sans-serif;
  border: solid 2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  min-width: 10%;
  width: 100px;
  margin-top: 10px;
}

a.roomButton:hover {
  background-color: #777 !important;
}

/* Create a Parallax Effect */
.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;

}

.bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
  background-position: center;
}

.word {
  font-family: "Lato", sans-serif;
}

.wrap > h1 {
     margin: 26px auto;
   }
/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url(<%= asset_path "logo-animated.gif", alt: "Portal Logo"%>);
    min-height: 95% !important;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url(<%= asset_path "sneak-peek-aztec.jpg", alt: "Aztec Sneak Peek" %>);
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url(<%= asset_path "sneak-peek-tokyo-2.jpg", alt: "Tokyo Sneak Peek" %>);
    min-height: 400px;
}

.bgimg-4 {
  background-image: url(<%= asset_path "sneak-peek-western-2.jpg", alt: "Western Sneak Peek" %>);
  min-height: 400px;
}

.bgimg-5 {
  background-image: url(<%= asset_path "sneak-peek-tokyo.jpg", alt: "Tokyo OG Sneak Peek" %>);
  min-height: 400px;
}

.book-now {
  display: block;
  text-align: center;
  margin: auto;
}

.side-content {
  padding-bottom: -100px;
}

.padding-large {
  padding: 12px 18px 12px 0px !important;
}

.home-background{
  background-color: #221F80;
  width: 100%;
}

.email-half{
  float: left;
  padding: 0px 8px 0px 8px;
  width: 100%
}

.mobile-rooms {
  width: 49%;
  float: left;
}

.reviews{
  display: inline-block;
  width: 33.1%;
  padding: 5px;
}

.review-div{
  height: auto;
  margin: auto;
}

.review-images{
  width: 100%;
}

.review-text{
  width: 33.1%;
  display: inline-block;
  vertical-align: middle;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

#showcase {
  height: 360px;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 768px;
  min-width: 320px;
}
#item-title {
  font-family: "Lato", sans-serif;
  color: #777;
  font-size: 22px;
  letter-spacing: 0.13em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}
#nav {
  text-align: center;
}
#nav > button {
  width: 64px;
  height: 36px;
  color: #666;
  font: bold 16px arial;
  text-align: center;
  margin: 5px;
  text-shadow: 0px 1px 0px #f5f5f5;
  background: #f6f6f6;
  border: solid 2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#nav > button:active,
#nav > button.down {
  background: #dfdfdf;
  border: solid 2px rgba(0, 0, 0, 0.6);
  box-shadow: none;
}

#nav >button:hover {
  background-color: #777;
}

@media (min-width: 601px) {
  .email-half {
    width: 51%;
  }
}

@media (min-width: 601px) {
  .email-half {
    width: 51%;
  }
  .mobile-rooms {
    width: 24.99%;
  }
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, #showcase {
        background-attachment: scroll;
    }

    .bgimg-1 {
      background-size: 130%;
    }
}

/*styles for landscape mode on mobile devices*/
@media only screen and (orientation:landscape)
and (max-device-width: 1024px){
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-5, #showcase {
      background-attachment: scroll;
  }
  .bgimg-1 {
    background-size: 65%;
      min-height: 400px;
  }

  .mobile-rooms {
    width: 24.9999%;
  }
  .w3-bar-item{
    width: 27%;
  }
}

/*styles for landscape mode on mobile devices*/
@media only screen and (orientation:portrait)
and (max-device-width: 1024px){
  .bgimg-4, .bgimg-5{
    background-position: center;
  }
  .image {
    width: 100% !important;
  }
  .prev, .next{
    display: none;
    position: absolute !important;
    padding-bottom: 30px !important;
    color: black !important;
  }
  .text{
    position: absolute;
  }
}
.bgimg-1 {
  min-height: 400px;
}

.w3-show{
  position: fixed;
  z-index: 100;
  /*border: 1px solid black;*/
}
.escape-padding{
  padding-top: 41px;
  padding-bottom: 40px;
}

/* Slideshow */
.mySlides {
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: inherit;
  bottom: 8px;
  width: 60%;
  margin: 0 auto;
  text-align: center !important;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5000s;
  animation-name: fade;
  animation-duration: 5000s;
}

@-webkit-keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

</style>
<body>

<!-- Navbar on large desktop screens -->
<div class="w3-top navBar w3-white hidden-xs">
  <div class="w3-bar w3-card-2 w3-white">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-hide-small w3-bar-item w3-button" style="width:13.15%" data-turbolinks="false"><i class="fa fa-home"></i>Home</a>
    <a href="#escape-rooms" class="w3-bar-item w3-button" style="width:13.15%" data-turbolinks="false"><i class="fa fa-th"></i> Escape Rooms</a>
    <a href="/#reviews" class="w3-bar-item w3-button" style="width:13.15%" data-turbolinks="false"><i class="fa fa-star"></i> Reviews</a>
    <a href="#teams" class="w3-bar-item w3-button" style="width:20.15%" data-turbolinks="false"><i class="fa fa-users"></i> Teams - Large Groups</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:13.15%" data-turbolinks="false"><i class="fa fa-envelope"></i> Contact</a>
    <a href="/faq" class="word w3-bar-item w3-button" style="width:13.15%" data-turbolinks="false"><i class="glyphicon glyphicon-question-sign">FAQ</i></a>
    <a href="/book" class="w3-bar-item w3-button w3-hover-red" style="width:13.15%" data-turbolinks="false">
      <i class="fa fa-book"></i> Book Now
    </a>
  </div>
</div>
<!-- Navbar on small desktop and mobile -->
<div class="w3-top navBar w3-white hidden-sm hidden-md hidden-lg">
  <div class="w3-top navBar w3-white">
    <div class="w3-bar w3-card-2 w3-white">
      <a class="w3-bar-item w3-button w3-hover-black w3-hide-large w3-right" style="width: 11%" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
      <a href="/" class="w3-bar-item w3-button" style="width: 27%" data-turbolinks="false"><i class="fa fa-home"></i> Home</a>
      <!-- <a href="#about" class="w3-bar-item w3-button w3-hide-small"  data-turbolinks="false"><i class="fa fa-user"></i> About</a> -->
      <a href="#escape-rooms" class="w3-hide-small w3-hide-medium w3-bar-item w3-button" style="width: 37%" data-turbolinks="false"><i class="fa fa-th"></i> Escape Rooms</a>
      <a href="#teams" class="w3-bar-item w3-button w3-hide-small w3-hide-medium"  data-turbolinks="false"><i class="fa fa-users"></i> Teams - Large Groups</a>
      <!-- <a href="#contact" class="w3-bar-item w3-button w3-hide-small "  data-turbolinks="false"><i class="fa fa-envelope"></i> Contact</a> -->
      <a href="#reviews" class="word w3-bar-item w3-button" style="width: 32%" data-turbolinks="false"><i class="fa fa-star"></i> Reviews</a>
      <a href="/book" class="w3-bar-item w3-button w3-hover-red" style="width: 28%" data-turbolinks="false">
        <i class="fa fa-book"></i> Book
      </a>
    </div>
  </div>
</div>
<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large">
  <a href="/" class="w3-bar-item w3-button" data-turbolinks="false" onclick="toggleFunction()">HOME</a>
  <a href="#about" class="w3-bar-item w3-button" data-turbolinks="false" onclick="toggleFunction()">ABOUT</a>
  <a href="#escape-rooms" class="w3-bar-item w3-button" data-turbolinks="false" onclick="toggleFunction()">ESCAPE ROOMS</a>
  <a href="#teams" class="w3-bar-item w3-button" data-turbolinks="false" onclick="toggleFunction()">TEAM BUILDING - LARGE GROUPS</a>
  <a href="#contact" class="w3-bar-item w3-button" data-turbolinks="false" onclick="toggleFunction()">CONTACT</a>
  <a href="/faq" class="w3-bar-item w3-button" data-turbolinks="false" onclick="toggleFunction()">FAQ</a>
  <!-- <a href="/book" class="w3-bar-item w3-button" data-turbolinks="false" onclick="toggleFunction()">RESERVE NOW</a> -->

  <!-- <a href="#" class="w3-bar-item w3-button">SEARCH</a> -->
</div>
<!-- First Parallax Image with Logo Text -->
<a href="#about" data-turbolinks="false"><div class="bgimg-1 w3-display-container home-background" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
    </div>
</div></a>
<!-- <a href="/book" class="w3-bar-item w3-button book-now" data-turbolinks="false"><button>Book now</button></a> -->
<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-32" id="about">
  <h3 class="w3-center" style="color: #0A5CAD;"><strong>About Portal Escape Rooms</strong></h3>
  <div class="w3-row">
    <div class="w3-col m6 w3-center padding-large hidden-xs hidden-sm">
      <img src="<%= asset_path "storefront.jpg", alt: "Storefront" %>" class="w3-round w3-image w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-padding-large side-content hidden-xs hidden-sm">
      <p style="text-align: center; font-size: 20px; color: #696969;"><strong>What’s an escape room?<strong></p>
      <p>An escape room is a 60 minute cooperative experience for families, friends, and colleagues. Each group will be solving interactive puzzles as a team in order to follow a carefully constructed narrative. For example, you might choose the Outlaw of El Paso adventure. The story and puzzles your team will be following will lead you to tracking down a notorious outlaw who is on the run from the law. The puzzles will require critical thinking, so choose your team wisely! Instead of "escaping" from one room, each group will be interacting and solving puzzles in at least three large rooms to complete their challenge. Once you step through our Portal, you will begin your adventure and be fully immersed in your storyline and puzzles.</p>
      <!-- <p style="text-align: center; font-size: 20px; color: #696969;"><strong>What makes us unique?</strong></p>
      <p>We refuse to create the typical escape room experience. We spare no expense in creating immersive rooms for our players with unique themes and original puzzles. We’re confident that we deliver the best escape room experience in the Eugene/Springfield area.</p> -->
    </div>
  </div>
  <p class="hidden-md hidden-lg" style="text-align: center; font-size: 20px; color: #696969;"><strong>What’s an escape room?<strong></p>
  <p class="hidden-md hidden-lg">An escape room is a 60 minute cooperative experience for families, friends, and colleagues. Each group will be solving interactive puzzles as a team in order to follow a carefully constructed narrative. For example, you might choose the Outlaw of El Paso adventure. The story and puzzles your team will be following will lead you to tracking down a notorious outlaw who is on the run from the law. The puzzles will require critical thinking, so choose your team wisely! Instead of "escaping" from one room, each group will be interacting and solving puzzles in at least three large rooms to complete their challenge. Once you step through our Portal, you will begin your adventure and be fully immersed in your storyline and puzzles.</p>
  <div class="w3-row">
    <div class="w3-center padding-large hidden-md hidden-lg">
      <img src="<%= asset_path "storefront.jpg", alt: "Storefront" %>" class="w3-round w3-image w3-hover-opacity-off" alt="Photo of Me" width="350" height="233">
    </div>
  </div>
  <!-- <p class="hidden-md hidden-lg" style="text-align: center; font-size: 20px; color: #696969;"><strong>What makes us unique?</strong></p>
  <p class="hidden-md hidden-lg">We refused to create the typical escape room experience. We spared no expense in creating immersive rooms for our players with unique themes and original puzzles. We’re confident that we can deliver the best escape room experience in the Eugene/Springfield area.</p> -->
  <p style="text-align: center; font-size: 20px; color: #696969;"><strong>Who are we?</strong></p>
  <p>We are three brothers, born and raised in Eugene Oregon. We’re on the adventure of a lifetime to create fully immersive, extravagantly styled escape rooms. Ingenuity combined with determination fuels our passion. Our goal will always be premier entertainment.</p>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div id="" class="bgimg-2 w3-display-container">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Portal Escape Rooms</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="wrap escape-padding" id="escape-rooms">
  <h3 class="w3-center hidden-xs" style="color: #0A5CAD;">Click the posters to learn about each room and book your reservation using the "Reserve Now" button below.</h3>
  <h3 class="w3-center hidden-sm hidden-md hidden-lg" style="color: #0A5CAD;">Here are the current rooms in rotation.</h3>
  <p class="w3-center"><em>


  <div id="showcase" class="noselect w3-center hidden-xs">
    <img class="cloud9-item" src="<%= asset_path "outlaw_color.jpg", alt: "Outlaw Logo"%>" style="width:20%" link="/western" alt="A notorious outlaw rode into town last night and robbed the local bank of its gold. Track the outlaw down and bring him to justice!">
    <img class="cloud9-item" src="<%= asset_path "tokyo.jpg", alt: "Tokyo Logo" %>" style="width:20%" link="/tokyo" alt="You've been hired to pull off a heist against one of your bosses competitors. Get in, get the money, and get out. Failure is not an option.">
    <img class="cloud9-item" src="<%= asset_path "coming-soon.jpg", alt: "Coming Soon" %>" style="width:20%" link="" alt="New Rooms Coming Soon">
    <img class="cloud9-item" src="<%= asset_path "tomb_of_gods.jpg", alt: "Tomb Logo" %>" style="width:20%" link="/tomb" alt="Navigate through the jungles of Mexico to an ancient Aztec tomb and discover what became of a missing team of explorers. Who knows what lies inside those forgotten walls...">
  </div>

  <!-- <p id="item-title">&nbsp;</p> -->
  <p id="item-title" class="hidden-xs"href="">&nbsp;</p>
  <a style="vertical-align: center; width: 200px; height: 35px; color: black; background-color: #ff1744;" class="roomButton hidden-xs" href="/western" data-turbolinks="false">Reserve Now</a>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center hidden-sm hidden-md hidden-lg">
    <div class="mobile-rooms w3-padding">
      <a href="/western" data-turbolinks="false"><img src="<%= asset_path "outlaw_color.jpg", alt: "Western Logo escape game" %>" style="width:100%" class="w3-hover-opacity"></a>
      <%=link_to "Reserve Now", western_path, class: "roomButton", data: { turbolinks: false } %>
    </div>

    <div class="mobile-rooms w3-padding">
      <a href="/tokyo" data-turbolinks="false"><img src="<%= asset_path "tokyo.jpg", alt: "Tokyo Logo escape game" %>" style="width:100%" class="w3-hover-opacity"></a>
      <%=link_to "Reserve Now", tokyo_path, class: "roomButton", data: { turbolinks: false } %>
    </div>

    <div class="mobile-rooms w3-padding">
      <a href="/tomb" data-turbolinks="false"><img src="<%= asset_path "tomb_of_gods.jpg", alt: "Tomb Logo escape game" %>" style="width:100%" class="w3-hover-opacity"></a>
      <%=link_to "Reserve Now", tomb_path, class: "roomButton", data: { turbolinks: false } %>
    </div>

    <div class="mobile-rooms w3-padding noselect">
      <img src="<%= asset_path "coming-soon.jpg", alt: "Coming Soon" %>" style="width:100%" class="w3-hover-opacity">
      <a class="roomButton noselect">Coming Soon</a>
    </div>
  </div>
  <div id="nav" class="noselect hidden-xs">
    <button class="left carousel-images">
      ←
    </button>
    <button class="right carousel-images">
      →
    </button>
  </div>
</div>

<div id="" class="bgimg-5 w3-display-container">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Reviews</span>
  </div>
</div>

<div class="w3-padding-32 review-images" id="reviews">
  <h3 class="w3-center" style="color: #0A5CAD;"><strong>Reviews</strong></h3>
  <p class="w3-center"><em>A collection of reviews from some of our happy guests.</em></p>
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext hidden-lg">1 / 5</div>
  <%=image_tag("david-grey.jpg", :class => 'image', :style => "width: 55%;")%>
  <div class="text">AMAZING ESCAPE ROOMS!! I’ve never heard of escape rooms with multiple rooms and it is so fun and exciting! The details and storylines are very well thought out and clever, totally immersive!<br><i>Shelby L.</i></div>
</div>

<div class="mySlides fade">
  <div class="numbertext hidden-lg">2 / 5</div>
  <%=image_tag("large-grp.jpg", :class => 'image', :style => "width: 55%;")%>
  <div class="text">This is a top of the line escape room! You feel truly immersed in the theme in every room. It was so fun! It's was like being on a movie set. Loved The Outlaw of El Paso escape room and can't wait to try the other rooms!<br><i>Twyla G.</i></div>
</div>

<div class="mySlides fade">
  <div class="numbertext hidden-lg">3 / 5</div>
  <%=image_tag("wise-molars.jpg", :class => 'image', :style => "width: 55%;")%>
  <div class="text">Had an amazing time being "transported" through the portal to the Wild, Wild West!! This was our 11th escape room and definitely the best one in Eugene/Springfield! <br><i>John P.</i></div>
</div>

<div class="mySlides fade">
  <div class="numbertext hidden-lg">4 / 5</div>
  <%=image_tag("image5.jpg", :class => 'image', :style => "width: 55%;")%>
  <div class="text">This is place is awesome! Great place for a 16th Birthday party for our daughter and her friends! Will definitely be going back with our friends! <br><i>Leslie V.</i></div>
</div>

<div class="mySlides fade">
  <div class="numbertext hidden-lg">5 / 5</div>
  <%=image_tag("marathon.jpg", :class => 'image', :style => "width: 55%;")%>
  <div class="text">Decided to do a marathon day of escape rooms. Portal has outdone themselves with their 3 rooms. They were challenging, well thought out, and featured amazing and authentic decor and puzzles. <br><i>Rick M.</i></div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
</div>

</div>
<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<div id="" class="bgimg-4 w3-display-container">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Business Hours and Private Events</span>
  </div>
</div>

<div class="w3-content w3-container w3-padding-32" id="teams">
  <h3 class="w3-center" style="color: #0A5CAD;"><strong>Private Events and Team Building</strong></h3>
  <div class="w3-row">
    <div class="w3-col m6 w3-padding-large side-content">
      <p>Have a large party or team building event you would like to plan?</p> <p>We will work with your team or group to set aside time for private events upon request.</p> <p>Please give us a call at <strong style="color: #0A5CAD">541-780-6180</strong> or email us at <strong style="color: #0A5CAD">info@portalescaperooms.net</strong> and we will schedule a time that best fits your needs.</p><p>Ask us about our multi-room package deals for groups larger than 10.</p>
    </div>
    <div class="w3-col m6 w3-center padding-medium">
      <!-- <img src="<%= asset_path "storefront.jpg", alt: "Storefront" %>" class="w3-round w3-image w3-hover-opacity-off" alt="Photo of Me" width="500" height="333"> -->
      <h3 style="color: #0A5CAD;">Business Hours</h3>
      <p>Monday - Thursday: 4PM - 10PM</p>
      <p>Friday: 12PM - 10PM</p>
      <p>Saturday: 12PM - 10PM</p>
      <p>Sunday: 12PM - 8PM</p>
      <p>Email us at <strong style="color: #0A5CAD">info@portalescaperooms.net</strong> for extra availability.</p>
    </div>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-32" id="contact">
  <h3 class="w3-center" style="color: #0A5CAD;">Questions or feedback?</h3>
  <p class="w3-center"><em>Send us an email (Include your phone number). We'd love to hear from you!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <!-- Add Google Maps -->
      <div id="googleMap" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-medium w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-large"></i> 2237 Main St #2, Springfield, OR 97477<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-large"></i> 541-780-6180<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-large"></i> info@portalescaperooms.net<br>
      </div>
      <p>Send us an email below:</p>
      <form action="https://formspree.io/info@portalescaperooms.net" method="post" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="email-half mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="w3-input w3-border mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" placeholder="Name" required name="Name" id="Name">
          </div>
          <div class="email-half mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="w3-input w3-border mdl-textfield__input" name="_replyto" type="text" placeholder="Your Email" required name="Email" id="Email">
          </div>
          <div class="email-half mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="w3-input w3-border mdl-textfield__input" name="_subject" placeholder="Subject" />
          </div>
        </div>
        <input class="w3-input w3-border mdl-textfield__input" name="body" type="text" placeholder="Message" required name="Message" id="note">
        <p>
          <button class="w3-button w3-right w3-section mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button> </p>
      </form>
    </div>
    <!-- <div class="w3-center">
      <span class="yelp-review w3-center" data-review-id="wnrVJ3mandd4MxKTQQ52Vw" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=80s5bwGsaSae1edPZduaJg" rel="nofollow noopener">Elaine P.</a>'s <a href="https://www.yelp.com/biz/portal-escape-rooms-springfield?hrid=wnrVJ3mandd4MxKTQQ52Vw" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/7kJTv-H7FwS1rq-89X2lhA" rel="nofollow noopener">Portal Escape Rooms</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
    </div> -->
  </div>
</div>

<!-- Footer --> <!-- w3-opacity -->
<footer class="w3-center w3-padding-64  ">
  <a href="#home" class="w3-button w3-light-grey" data-turbolinks="false"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a href="https://www.facebook.com/portalescape/" style="color: #ffffff !important;"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <a href="https://www.tripadvisor.com/Attraction_Review-g52077-d12927500-Reviews-Portal_Escape_Rooms-Springfield_Oregon.html" style="color: #ffffff !important;"><i class="fa fa-tripadvisor w3-hover-opacity"></i></a>
    <!-- <i class="fa fa-snapchat w3-hover-opacity"></i> -->
    <!-- <i class="fa fa-twitter w3-hover-opacity"></i> -->
    <a href="https://www.linkedin.com/company/portal-escape-rooms" style="color: #ffffff !important;"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
    <a href="https://www.yelp.com/biz/portal-escape-rooms-springfield" style="color: #ffffff !important;"><i class="fa fa-yelp w3-hover-opacity"></i></a>
  </div>
</footer>

<!-- Add Google Maps -->
<script>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GM_KEY']%>&callback=myMap"></script>
</body>
</html>
