<!DOCTYPE html>
<html ng-app="roomPage">
<title>Portal Escape Rooms - Eugene & Springfileld</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <meta name="keywords" content="escape room, escape rooms, eugene escape rooms, springfield escape rooms, eugene entertainment, springfield entertainment, entertainment, eugene, springfield, escape, room, escape room in eugene oregon, escape room in springfield oregon, portal escape rooms"> -->
<!-- <meta name="description" content="This is an example of a meta description. This will often show up in search results."> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 96%;
    color: #777;
    line-height: 1.8;
}

#showcase {
  height: 360px;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 768px;
  min-width: 320px;
}
#item-title {
  font-family: "Lato", sans-serif;
  color: #777;
  font-size: 29px;
  letter-spacing: 0.13em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#nav {
  text-align: center;
}
#nav > button {
  width: 64px;
  height: 36px;
  color: #666;
  font: bold 16px arial;
  text-align: center;
  margin: 5px;
  text-shadow: 0px 1px 0px #f5f5f5;
  background: #f6f6f6;
  border: solid 2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#nav > button:active,
#nav > button.down {
  background: #dfdfdf;
  border: solid 2px rgba(0, 0, 0, 0.6);
  box-shadow: none;
}

#nav >button:hover {
  background-color: #777;
}
/*Keeps navbar in front of carousel*/
.navBar {
  z-index: 101;
  position: fixed;
}

a.roomButton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  background-color: #777;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 22px;
  width: 10%;
  font-family: "Lato", sans-serif;
  border: solid 2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  min-width: 10%;
  width: 100px;
  margin-top: 10px;
}

a.roomButton:hover {
  background-color: #777 !important;
}

/* Create a Parallax Effect */
.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
  background-position: center;
}

.word {
  font-family: "Lato", sans-serif;
}

.wrap > h1 {
     margin: 26px auto;
   }
/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url(<%= asset_path "logo-animated.gif", alt: "Portal Logo"%>);
    min-height: 100%;
    object-fit: contain;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url(<%= asset_path "outlaw_color.jpg", alt: "Outlaw Logo" %>);
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url(<%= asset_path "tomb_of_gods.jpg", alt: "Tokyo Logo" %>);
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, #showcase {
        background-attachment: scroll;
    }
}

.home-background{
  background-color: #221F80;
  width: 100%;
}

footer {
  background-color: #0A5CAD;
  color: #ffffff;
}

button.w3-button {
  background-color: #0A5CAD;
  color: #ffffff;
}

</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top navBar w3-white">
  <div class="w3-bar w3-card-2 w3-white">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button" data-turbolinks="false">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small" data-turbolinks="false"><i class="fa fa-user"></i> ABOUT</a>
    <a href="#escape-rooms" class="w3-bar-item w3-button" data-turbolinks="false"><i class="fa fa-th"></i> ESCAPE ROOMS</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small" data-turbolinks="false"><i class="fa fa-envelope"></i> CONTACT</a>
    <a href="/faq" class="word w3-bar-item w3-button" data-turbolinks="false"><i class="glyphicon glyphicon-question-sign">FAQ</i></a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <!-- <i class="fa fa-search"></i> -->Grand Opening September 30, 2017
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" data-turbolinks="false" onclick="toggleFunction()">ABOUT</a>
    <a href="#escape-rooms" class="w3-bar-item w3-button" data-turbolinks="false" onclick="toggleFunction()">ESCAPE ROOMS</a>
    <a href="#contact" class="w3-bar-item w3-button" data-turbolinks="false" onclick="toggleFunction()">CONTACT</a>
    <a href="/faq" class="w3-bar-item w3-button" data-turbolinks="false" onclick="toggleFunction()">FAQs</a>

    <!-- <a href="#" class="w3-bar-item w3-button">SEARCH</a> -->
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container home-background" id="home">
  <!-- <img class="iframe" src="<%= asset_path "logo-animated.gif", alt: "Outlaw Logo"%>" style="width:100%" ></img> -->
  <!-- <div class="home-background w3-display-container"> -->
    <div class="w3-display-middle" style="white-space:nowrap;">
    </div>
  <!-- </div> -->
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT US</h3>
  <p class="w3-center"><em>We love puzzles</em></p>
  <p>Creating intricate and exciting escape rooms seemed like an easy way to do what we love. Our escape rooms will make you feel like part of an adventure. They are both challenging and imersive, but, most of all they are a ton of fun!</p>
  <p>What's an escape room? Escape rooms are essentially giant puzzles that you and your team must solve in a 1 hour time limit in order to escape from your room.</p>
  <p>We are excited to serve the Eugene and Springfield community as a premiere Escape Room in Lane County.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <img src="<%= asset_path "storefront.jpg", alt: "Storefront" %>" class="w3-round w3-image w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-padding-large">
      <p>What kinds of rooms do we have? You might find yourself tracking down a <a href="/western" data-turbolinks="false">Western Outlaw</a>, navigating a dangerous <a href="/tomb" data-turbolinks="false">Aztec Tomb</a>, or even as part of a <a href="/tokyo" data-turbolinks="false">Tokyo Heist</a> in a skyscraper!</p>
      <p>If you aren't familiar with escape rooms, take a look at our FAQ page to learn more about the rules.<p>
      <p>We are located on Main Street in Springfield, next door to McKenzie Glass.</p>
    </div>
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div id="" class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Portal Escape Rooms</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="wrap" id="escape-rooms">
  <h3 class="w3-center">Here are the current rooms in rotation.</h3>
  <p class="w3-center"><em>


  <div id="showcase" class="noselect w3-center hidden-xs">
    <img class="cloud9-item" src="<%= asset_path "outlaw_color.jpg", alt: "Outlaw Logo"%>" style="width:20%" link="/western" alt="The Outlaw of El Paso">
    <img class="cloud9-item" src="<%= asset_path "tokyo.jpg", alt: "Tokyo Logo" %>" style="width:20%" link="/tokyo" alt="Tokyo Heist">
    <img class="cloud9-item" src="<%= asset_path "coming-soon.jpg", alt: "Coming Soon" %>" style="width:20%" link="" alt="New Rooms Coming Soon">
    <img class="cloud9-item" src="<%= asset_path "tomb_of_gods.jpg", alt: "Tomb Logo" %>" style="width:20%" link="/tomb" alt="Tomb of the Gods">
  </div>

  <!-- <p id="item-title">&nbsp;</p> -->
  <p id="item-title" class="hidden-xs"href="">&nbsp;</p>
  <a class="roomButton hidden-xs" href="/western">Reserve Now</a>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center hidden-sm hidden-md hidden-lg">
    <div class="w3-col m3 w3-padding">
      <img src="<%= asset_path "outlaw_color.jpg", alt: "Western Logo" %>" style="width:80%" onclick="onClick(this)" class="w3-hover-opacity">
      <%=link_to "Reserve Now", western_path, class: "roomButton", data: { turbolinks: false } %>
    </div>

    <div class="w3-col m3 w3-padding">
      <img src="<%= asset_path "tokyo.jpg", alt: "Tokyo Logo" %>" style="width:80%" onclick="onClick(this)" class="w3-hover-opacity">
      <%=link_to "Reserve Now", tokyo_path, class: "roomButton", data: { turbolinks: false } %>
    </div>

    <div class="w3-col m3 w3-padding">
      <img src="<%= asset_path "tomb_of_gods.jpg", alt: "Tomb Logo" %>" style="width:80%" onclick="onClick(this)" class="w3-hover-opacity">
      <%=link_to "Reserve Now", tomb_path, class: "roomButton", data: { turbolinks: false } %>
    </div>

    <div class="w3-col m3 w3-padding noselect">
      <img src="<%= asset_path "coming-soon.jpg", alt: "Coming Soon" %>" style="width:80%" onclick="onClick(this)" class="w3-hover-opacity">
      <a class="roomButton noselect">Coming Soon</a>
    </div>
  </div>
  <div id="nav" class="noselect hidden-xs">
    <button class="left carousel-images">
      ←
    </button>
    <button class="right carousel-images">
      →
    </button>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">Questions or feedback?</h3>
  <p class="w3-center"><em>Send us an email. We'd love to hear from you!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <!-- Add Google Maps -->
      <div id="googleMap" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> 2237 Main Street, Springfield, OR 97477<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: 541-123-4567<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: info@portalescaperooms.net<br>
      </div>
      <p>Send us an email below:</p>
      <form action="https://formspree.io/info@portalescaperooms.net" method="post" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="w3-input w3-border mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" placeholder="Name" required name="Name" id="Name">
          </div>
          <div class="w3-half mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="w3-input w3-border mdl-textfield__input" name="_replyto" type="text" placeholder="Your Email" required name="Email" id="Email">
          </div>
          <div class="w3-half mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="w3-input w3-border mdl-textfield__input" name="_subject" placeholder="Subject" />
          </div>
        </div>
        <input class="w3-input w3-border mdl-textfield__input" name="body" type="text" placeholder="Message" required name="Message" id="note">
        <p>
          <button class="w3-button w3-right w3-section mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button> </p>
      </form>
    </div>
  </div>
</div>

<!-- Footer --> <!-- w3-opacity -->
<footer class="w3-center w3-padding-64  w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey" data-turbolinks="false"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</footer>

<!-- Add Google Maps -->
<script>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GM_KEY']%>&callback=myMap"></script>
</body>
</html>
